/* Estilos base */
body {
    background-color: #1e252d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 1rem;
}

.todo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ecf0f1;
}

.texto {
    text-align: center;
}

.form-container {
    background-color: #2c3e50;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    width: 80%;
    max-width: 400px;
    color: white;
    animation: fadeInUp 0.8s ease-out;
}

.imagen{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgl{
    width: 50%;
}
h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px 0;
}

.input-group label {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 50%;
    left: 35px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #ffffff;
    padding: 0 5px;
    pointer-events: none;
    transition: .5s;
}

.input-group input {
    width: 100%;
    max-width: 320px;
    height: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 0 10px;
    background: transparent;
    border: 1.2px solid;
    outline: none;
    border-radius: 5px;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: 0;
    font-size: 12px;
    background: #2c3e50;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container input {
    border-radius: 10px;
    padding: 10px 24px;
    background-color: #ffffff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button-container input:hover {
    background-color: #dcdcdc;
}
/* Animación */
@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@media (max-width: 480px) {
    .form-container {
        padding: 1.5rem;
    }

    .input-group input {
        max-width: 100%;
    }

    .input-group label {
        left: 20px;
        font-size: 14px;
    }

    h2 {
        font-size: 20px;
    }

    .button-container input {
        width: 70%;
    }
}